*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  max-width: 100vw;
  min-height: 100vh;
  overflow: hidden;
}

/* .active {
  color: #e22b63;
  border-bottom: 3px solid #e22b63;
}

@media screen and (max-width: 1000px) {
  .active {
    background-color: #e22b63;
    color: #fff;
    border: none;
  }
} */